<app-header></app-header>

<!-- string interpolation -->
{{name}}
{{age}}
{{city()}}
<br>


<!-- property binding -->
<button class="btn btn-success" [disabled]="isDisabled">hey george</button>
<br>

<!-- event binding -->
<button class="btn btn-success" (click)="change()">see changes on click</button>
{{name1}}

<!-- Two way data binding -->
<p>{{status}} : <input type="text" (input)="changes()"></p>

<p><input type="text" [(ngModel)]="name2" name2="text"></p>
{{name2}}
<br>

<input type="text" [(ngModel)]="name3" name3="text">
<button class="btn btn-success" [disabled]="name3=== ''" (click)="changed()"> Submit</button>
<p>{{text}}</p>




<!-- pipes -->
<p>{{names}}</p>

after converting to lowercase
<p>{{names | lowercase}}</p>

<p>{{names1}}</p>

after converting to uppercase
<p>{{names1 | uppercase}}</p>


<p>{{nowdate}}</p>

after conerting to required format
<p>{{nowdate | date:'shortDate'}}</p>


{{value | currency:'INR'}}
<br>
{{value | currency:'USD'}}
<br>

<p>{{PERCENTVALUE | percent}}</p>

<p>{{decvalue | number: '3.2-4'}}</p>

<!-- JSON pipes -->
<p>{{user}}</p>
<p>{{user | json}}</p>
<p>{{user.name}}</p>
<p>{{user | json | lowercase}}</p>

<!-- custom pipes --> 
<p>enter a number <input type="number" placeholder="enter a value" [(ngModel)]="num" num="number"></p>
<p>{{num}}</p>
sqrt value :{{num | squareroot}}
<br>
<!-- {{num2}}
{{num2 | squareroot}} -->
<br>

<p>enter your amount <input type="number" placeholder="enter amount" [(ngModel)]="money" money="number"></p>
<p>enter conversion value  <input type="number" placeholder="enter conversion rate" [(ngModel)]="num3" num3="number"></p>

<p>Entered amount:{{money | currency}}</p>
<p>Converted to local currency:{{money | currencyConversion:num3}}</p>

<p>enter your first_name <input type="text" placeholder="enter first_name" [(ngModel)]="first_name" first_name="text"></p>
<p>enter your second_name <input type="text" placeholder="enter second_name" [(ngModel)]="second_name" second_name="text"></p>
<p>{{first_name | textjoin:second_name }}</p>

<!-- structural directives -->
<!-- *nfIf -->
<h3>ngIf</h3>
<!-- <p *ngIf = "inputt; else elseblock">trueblock</p> -->
<p *ngIf = "inputt; then thenblock; else elseblock"></p>

<ng-template #thenblock>
    trueblock
</ng-template>

<ng-template #elseblock>
    false block
</ng-template>

<!-- structural directives -->
<!-- *nfFor -->
<h3>ngFor</h3>
<ul>
    <li *ngFor = "let x of users">
        {{x}}

    </li>
</ul>

<table class="table">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Title</th>
        <th scope="col">Actor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let y of movies; let i = index" >
        <td>{{i+1}}</td>
        <td>{{y.title}}</td>
        <td>{{y.actor}}</td>
      </tr>
    </tbody>
  </table>